body{
   
    width: 100%;
    background-image: url("../img/resize/IMG_7038.JPG");
    background-position:center center ;
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;

    
}





